<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="shortcut icon" type="image/png" href="../static/images/clapperboard.png">
	    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/html5reset.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600">
	    <title>Radar Chart for Movies</title>        
    </head>
   <body>
       <main id="main">
        <div class="container">
            <h1>Radar chart for <i>{{ title }}</i>
              {% if comp_title == "None" %}
              
              {% elif comp_title == title %}
              
              {% else %}
              and <i>{{comp_title}}</i>
              {% endif %}
            </h1>
            <div class="line"></div>
            <p class="instructions">See the radar chart below to compare <i>{{title}}</i> 's box office numbers
              {% if comp_title == "None"%}
              .
              {% elif comp_title == title %}
              .
              {% else %}
              with <i>{{comp_title}}</i> 's box office numbers.
              {% endif %}
                You can click on the table information to go to the IMDb page for more information about the movie.</p>
                {{boxoffice_url | safe}}
            <div id="rt_container">
            <div class="table_view">
                <table> 
                 <thead>
                    <td>Rank</td>
                    <td>Title</td>
                    <td>Release Year</td>
                    <td>Director Name</td>
                    <td>Worldwide Gross</td>
                    <td>Gross USA</td>
                    <td>Budget</td>
                 </thead>
                 <tbody>
                 {% for row in results %}
                 <tr onclick="window.open(href='{{row[7]}}')">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>${{row[4]}}</td>
                    <td>${{row[5]}}</td>
                    <td>${{row[6]}}</td>
                 </tr>
                 {% endfor %}
                </tbody>
              </table>
              {% for r in comp_result %}
              {% if r == "None"%}
              <div></div>
              {% elif title in r %}
              <div></div>
              {% else %}
              <br>
              <div class="table_view">
                <table> 
                 <thead>
                    <td>Rank</td>
                    <td>Title</td>
                    <td>Release Year</td>
                    <td>Director Name</td>
                    <td>Worldwide Gross</td>
                    <td>Gross USA</td>
                    <td>Budget</td>
                 </thead>
                 <tbody>
                 {% for r in comp_result %}
                 <tr onclick="window.open(href='{{r[7]}}')">
                    <td>{{r[0]}}</td>
                    <td>{{r[1]}}</td>
                    <td>{{r[2]}}</td>
                    <td>{{r[3]}}</td>
                    <td>${{r[4]}}</td>
                    <td>${{r[5]}}</td>
                    <td>${{r[6]}}</td>
                 </tr>
                 {% endfor %}
                 {% endif %}
                 {% endfor %}
                </tbody>
              </table>
            </div>
      <div class="set_button">
      <form action="/">
        <input class="button_style" type="submit" value="Go back to home page" />
    </form>
    </div>
      </div>
      <div class="jump_to_top">
			<a class="jump_link" href="#main">Jump to Top</a>
		</div>
      </main>
      <footer>
		<p>Sasha Kenkre &copy; 2021</p>
		</div>
	</footer>
   </body>
</html>